<h2>Schedule a Tweet</h2>

<% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h5>
      <%= pluralize(@tweet.errors.count, "error") %>
      prohibited this tweet from being scheduled:
    </h5>

    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tweet do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <div class="datetime">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %><br>
  </div>
  <br>
  <%= f.submit "Schedule Tweet" %>
<% end %>
