<h2>Schedule a Tweet</h2>

<%= form_for @tweet do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
<div class="input-field">
  <%= f.label :time %><br>
  <%= f.datetime_select :time, class: "timepicker"%><br>

</div>


  <%= f.submit "Schedule Tweet" %>
<% end %>
