<h2>Schedule a Tweet</h2>

<%= form_for @tweet do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
  <div class="datetime">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %><br>
  </div>
  <br>
  <%= f.submit "Schedule Tweet" %>
<% end %>
